<!doctype html>
<html>
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>
    <script>


function myFunction(str){
    var datas = JSON.parse(str);
    console.log(str);
    var nodee = document.createElement('a');
    var node = document.createElement('figure');
var nod = document.createElement('img');
var no = document.createElement('figcaption');
var n = document.createElement('figcaption');
//console.log('<li><a href="https://www.amazon.com/' + datas.url + '"><img src="' + datas.img + '" alt="' + datas.title + '"></a></li>');
var text = document.createTextNode(datas.title);
var ext = document.createTextNode(datas.price);
no.appendChild(text);
n.appendChild(ext);
nod.src = datas.img;
nod.wodth = "300px";
node.appendChild(nod);
node.appendChild(no);
node.appendChild(n);
node.style = style="float: left; margin-right: 20px; margin-bottom: 20px;"
nodee.appendChild(node);
nodee.href = "https://www.amazon.com/" + datas.url;
document.getElementById("imageGallery").appendChild(nodee);
//console.log(datas[0]);

}


    </script>
    <body>
        <div class="container">
            <h1>Smart Object Detection</h1>
            <h2>Query:</h2>
            {% if name %}
            <img src="{{name}}" width="300px">
            {% endif %}
            <h2 >Results:</h2>
            <div id="imageGallery">
                {%for line in json.splitlines() %}
                    <script>myFunction({{line|tojson}});</script>
                {%endfor%}
            </div>
        </div>
    </body>
</html>
